.bg{
	background-image: url(lib/bg.jpg);
	height: 800px;
}
.line{
	background-color: #A9A9A9;
	width: 1105px;
	height: 1px;
}
.space{
	height: 45px;
}
.block{
width: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#nav-img{
	width: 355px;
	height: 347px;
}
